<h1>Student List</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Exams Given</th>
    <th>Average Score</th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.email %></td>
      <td><%= student.exams.count %></td>
      <td><%= student.exams.average(:score).to_i %></td>
    </tr>
  <% end %>
</table>